{%extends 'layout.html'%}

{%block titulo%}Estadísticas{%endblock%}


{%block cuerpo%}

<div class="container pt3 pb3">
<div class="pb4 align--center">
    <br><br>
    <h3> WordCloud </h3>
    <img src="data:image/png;base64,{{ wc }}" alt="Imagen">
    <br><br>
    <h3> Histograma de las palabras más frecuentes</h3>
    <img src="data:image/png;base64,{{ hist }}" alt="Imagen">
    <br><br>
    <h3>¡Aquí van unas estadísticas! </h3>
    <p>El número de palabras es: {{total_palabras}}</p>
    <p>El número de palabras únicas es: {{total_palabras_unicas}}</p>
    <p>La longitud media por palrabas es {{longitud}}</p>
    <p>El número de frases es {{n_frases}}</p>
    <div>


    <br>
    <br>
    </div>
            
            <table class="t">
                <tr>
                    <th>Palabra</th>
                    <th>Frecuencia</th>
                </tr>
                {% for key, value in frecuencia_palabras.items() %}
                <tr>
                    <td>{{key}}</td>
                    <td>{{value}}</td>
                </tr>
                {% endfor %}
            </table>


<br>
<table class="t">
    <tr>
      <td><a href="{{url_for('resumen')}}">Resumen</a></td>
    </tr>
    <tr>
      <td><a href="{{url_for('resultado_transcripcion')}}">Volver a la transcripción completa</a></td>
    </tr>
    <tr>
      <td><a href="{{url_for('principal')}}">Volver a la página principal</a></td>
    </tr>
    <tr>
      <td><a href="{{url_for('transcriptor')}}">Volver a subir un nuevo vídeo</a></td>
    </tr>
  </table>

</div>
</div>
{%endblock%}