{% extends 'layout.html' %}
{% block titulo %} Bienvenido {% endblock %}
{%block cuerpo%}
        <div class="bg--dark-gray align--center pt3 pb3">
            <div class="container pt2 pb2">
                <p class="h3 text--white mb1 bold">¡Inicia sesión!</p>
                <p class="text--white mb3">Necesitas estar registrado para acceder a nuestras funcionalidades.</p>
                <a class="btn btn--secondary" href="{{url_for('registro')}}">Registrarse</a>
                <a class="btn btn--secondary" href="{{url_for('login')}}">Iniciar sesión</a>
            </div>
        </div>
        <section class="galeria">
            <img src="/static/imagenes/git.png" alt="Foto que forma parte de una galería de imágenes">
            <img src="/static/imagenes/git.png" alt="Foto que forma parte de una galería de imágenes">
            <img src="/static/imagenes/git.png" alt="Foto que forma parte de una galería de imágenes">
            <img src="/static/imagenes/git.png" alt="Foto que forma parte de una galería de imágenes">
        </section>
{%endblock%}