{% extends 'layout.html' %}
{% block titulo %} Bienvenido {% endblock %}
{%block cuerpo%}
    <main>
        <div class="container--lg pt1 pb1">

            <div class="grid-row grid-row--center">
                <div class="grid-column mt3 mb2 order-2">
                    <div class="border--bottom pb2 mb2">
                        <h2>Transcribir videos</h2>
                        <p>Texto que explique las ventajas de usar el transcriptor bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, bla, </p>
                    </div>
                    <section class="pb4 align--center">
                        <a class="btn btn--default" href="{{url_for('transcriptor')}}">Transcribir video</a>
                        <br>
                        <br>
                        <p class="bold">Modelo Whisper de Open AI</p>
                    </section>
     
                </div>
                <div class="grid-column span-1"></div>
                <div class="grid-column mt3 mb2 order-1 reveal-on-scroll is-revealing">
                    <img src="../static/imagenes/writer.gif" alt="writing data">
            </div>

            <div class="grid-row grid-row--center">
                <div class="grid-column mt3 mb2 reveal-on-scroll is-revealing">
                    <img src="/img/security.svg" alt="Absolute security">
                </div>
                <div class="grid-column span-1"></div>
                <div class="grid-column mt3 mb2">
                    <div class="border--bottom pb2 mb2">
                        <h2>Absolute security</h2>
                        <p>Itaque his sapiens semper vacabit. Qualis ista philosophia est, quae non interitum afferat pravitatis, sed sit contenta mediocritate vitiorum? Quid de Platone aut de Democrito loquar? Quis istud possit, inquit&nbsp;negare?</p>
                    </div>
                    <p class="italic text--gray mb1">Estne, quaeso, inquam, sitienti in bibendo voluptas? Duo Reges: constructio&nbsp;interrete.</p>
                    <p class="bold">Josh Blenton, Product Manager at&nbsp;Blinkist</p>
                </div>
            </div>

        </div>

        <!-- Mentioned -->
        <div class="container--lg pt3 pb3 mb2 align--center">
            <p class="mb2">Mentioned in</p>
            <span><img class="mentioned" src="/img/mentioned.svg" alt="New York Times, TC, Product Hunt, Recode"></span>
        </div>

        <!-- CTA -->
        <div class="bg--dark-gray align--center pt3 pb3">
            <div class="container pt2 pb2">
                <img class="cta-image mb2 reveal-on-scroll is-revealing" src="/img/text.svg" alt="Text the app">
                <p class="h3 text--white mb1 bold">We'll text you the&nbsp;app</p>
                <p class="text--white mb3">Just insert your number below. Messaging rates&nbsp;apply.</p>
                <div class="inline-block mr1 no-mr-on-mobile" style="width:280px;max-width:100%">
                    <input class="form-control" type="tel" placeholder="Phone number">
                </div>
                <button class="btn btn--secondary">Send</button>
            </div>
        </div>

        <!-- Arriba a la derecha botones de Sign Up y Log In -->
        <div class="container--lg pt3 pb3 mb2 align--center">
            <p class="mb2">¿No tienes cuenta? <a href="{{url_for('registro')}}">Regístrate</a></p>
            <p class="mb2">¿Ya tienes cuenta? <a href="{{url_for('login')}}">Inicia sesión</a></p>

    </main>
    {%endblock%}