<!doctype html>
<html lang="en-us">

    <head>

        <!-- Meta -->
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width,initial-scale=1">

        <title>{%block titulo%}{%endblock%}</title>
        <meta name="description" content="">

        <!-- The compiled CSS file -->
        <link rel="stylesheet" href="../static/css/production.css">

        <!-- Web fonts -->
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700|Source+Serif+Pro:700" rel="stylesheet"> 

        <!-- Favicons -->
        <link rel="icon" href="../static/imagenes/icon.png">

    </head>

    <body class="has-animations">

    <!-- Header -->
    <header class="align--center pt3">
        <div class="container--lg border--bottom pb3">
            <img class="logo mb3 reveal-on-scroll is-revealing" src="../static/icon.png" alt="logo">
            <h1 class="mb2">Transcriptor de videos</h1>
            <h4>Web realizada con Flask por Jon Ortega y Unai Zubeldia.</h4>
            <span>
                <a href="https://github.com/UnaiZubeldia/flask_whisper" class="link"><img class="download" src="../static/imagenes/git.png" alt="Download on the App Store"></a>
            </span>
        </div>
    </header>

    {%block cuerpo%}
    {%endblock%}

    {%block footer%}
    <!-- Footer -->
    
    <footer class="pt1 pb3 align--center-on-mobile">
        <div class="container--lg pt3 pb3 mb2 align--center">
            <p class="mb2">Hecho con ❤️ por Jon Ortega y Unai Zubeldia</p>
            <p class="mb2"><footer>&copy; Copyright 2023</p>
        </div>
    </footer>
    {%endblock%}
    </body>
</html>

