{% extends 'layout.html' %}
{% block titulo %} Bienvenido {% endblock %}
{%block cuerpo%}
        <div class="bg--dark-gray align--center pt3 pb3">
            <div class="container pt2 pb2">
                <p class="h3 text--white mb1 bold">¡Un placer tenerte por aquí, {{nombre.capitalize()}}!</p>
                <a class="btn btn--secondary" href="{{url_for('principal')}}">¡Empieza a probar nuestras funcionalidades!</a>
                <a class="btn btn--secondary" href="{{url_for('index')}}">Vuelve al inicio</a>
            </div>
        </div>
{%endblock%}