{%extends 'layout.html'%}

{%block titulo%}Login{%endblock%}

{%block cuerpo%}
<div class="container pt3 pb3">
  <section class="pb4">
    <h2 class="text--gray pb1 border--bottom">Iniciar sesión</h2>
    {%if msg%}
    <h3 class="text--gray pb1 border--bottom">{{msg}}</h3>
    <button class="btn btn--secondary" href="{{url_for('contr_olvidada')}}">Se me ha olvidado la contraseña</button>
    {%endif%}
    <form action = "{{url_for('login')}}" method="POST">
      <input class="form-control mb1" id='email' name='email' type="email" placeholder="Dirección de correo">
      <input class="form-control mb1" id='password' name='password' type="password" placeholder="Contraseña">
      <button class="btn btn--default" id="submit-button" type="submit">Entrar</button>
    </form>
  </section>
  </div>

<style>
    button#submit-button {
      position: relative;
      transition: transform 0.2s;
    }
    </style>

<script>
    const form = document.querySelector('form');
    const email = document.querySelector('#email');
    const password = document.querySelector('#password');
    const submitButton = document.querySelector('#submit-button');
    let intervalId;
    
    submitButton.addEventListener('mouseenter', function() {
      if (!email.value || !password.value) {
        const distance = 40;
        intervalId = setInterval(function() {
          const x = distance * Math.sin(Date.now() / 200 + Math.random() * 100);
          const y = distance * Math.cos(Date.now() / 200 + Math.random() * 100);
          submitButton.style.transform = `translate(${x}px, ${y}px)`;
        }, 50);
      }
    });
    
    submitButton.addEventListener('mouseleave', function() {
      clearInterval(intervalId);
      submitButton.style.transform = 'translate(0, 0)';
    });
    </script>

{%endblock%}