{%extends 'layout.html'%}

{%block titulo%}Registro{%endblock%}

{%block cabecera%}
<h1>¡Regístrate!</h1>
{%endblock%}


{%block cuerpo%}
<div class="container pt3 pb3">
<section class="pb4">
  <h2 class="text--gray pb1 border--bottom">Registrarse</h2>
  <form class="form">
      <input class="form-control mb1" placeholder="Nombre">
      <input class="form-control mb1" type="email" placeholder="Dirección de correo">
      <input class="form-control mb1" type="password" placeholder="Contraseña">
      <button class="btn btn--default" type="submit">Registrarme</button>
  </form>
</section>
</div>

<style>
    button#submit-button {
      position: relative;
      transition: transform 0.2s;
    }
    </style>

<script>
    const form = document.querySelector('form');
    const nombre = document.querySelector('#nombre');
    const email = document.querySelector('#email');
    const password = document.querySelector('#password');
    const submitButton = document.querySelector('#submit-button');
    let intervalId;
    
    submitButton.addEventListener('mouseenter', function() {
      if (!nombre.value || !email.value || !password.value) {
        const distance = 40;
        intervalId = setInterval(function() {
          const x = distance * Math.sin(Date.now() / 200 + Math.random() * 100);
          const y = distance * Math.cos(Date.now() / 200 + Math.random() * 100);
          submitButton.style.transform = `translate(${x}px, ${y}px)`;
        }, 50);
      }
    });
    
    submitButton.addEventListener('mouseleave', function() {
      clearInterval(intervalId);
      submitButton.style.transform = 'translate(0, 0)';
    });
    </script>

{%endblock%}