{% extends 'layout.html' %}

{% block titulo %} Análisis de la transcripción {% endblock %}

{% block cuerpo %}
<div class="pb4 align--center">>
    <div class="success-msg">
        <i class="fa fa-check"></i>
        <h2>Transcripción completada</h2>
      </div>

    <br><br>
    <h3> ¿Te interesa guardarla para otro momento? ¡Pincha aquí y se te guardará! </h3>
    <a class="btn btn--default" href="{{ url_for('descargar_transcripcion') }}">Descargar transcripción</a>
    <br><br>
    <h3> ¿Mucho texto? No hay problema, ¡te lo resumimos! </h3>
    <a class="btn btn--default" href="{{url_for('resumen')}}">Resumen</a>
    <br><br>
    <h3> ¿Quieres ver más? ¡Aquí van unas estadísticas! </h3>
    <a class="btn btn--default" href="{{url_for('estadisticas')}}">Estadísticas y gráficos</a>
</div>

{% endblock %}