{% extends 'layout.html' %}

{% block titulo %} Análisis de la transcripción {% endblock %}

{% block cuerpo %}

<h1> Análisis de la transcripción </h1>
<div class="pt1 pb1 text--white bg--darkest-gray">
    <div class="texto-tra">
        <p>{{texto}}</p>
    </div>
</div>

<p> ¿Mucho texto? No hay problema, ¡te lo resumimos! </p>
<a href="{{url_for('resumen')}}">Resumen</a>

<p> ¿Quieres ver más? ¡Aquí van unas estadísticas! </p>
<a href="{{url_for('estadisticas')}}">Estadísticas y gráficos</a>

{% endblock %}