{%extends 'layout.html'%}

{%block titulo%}Error{%endblock%}


{%block cuerpo%}
<div class="pt1 pb1 text--white bg--tertiary-color">
<div class="bg--dark-gray align--center pt3 pb3">

    <div class="container pt2 pb2">
        <p class="h3 text--white mb1 bold">Error</p>
        <p class="text--white mb3">Usuario no registrado</p>
        <a class="btn btn--secondary" href="{{url_for('registro')}}">Registrarse</a>
        <a class="btn btn--secondary" href="{{url_for('home')}}">Volver a inicio</a>
        
        </div>
    </div>

    </div>
</div>
{%endblock%}